{% extends "extended_features.html" %}
{% block content %}
{%load crispy_forms_tags%}
{% load static %}
<style>
.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;

  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
.button1 {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

</style>
	<section id="main">
				<div class="inner">
					<div class="wrapper style1">
						<div class="content">
							          <form class="contribute" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="content">
		{{s_form|crispy}}
		<button type="submit" class="button button1">SAVE</button><span>Click to save sentence</span>
</div>

</form>
									</div>
								</div>
							</div>

			</section>
{% endblock %}